# Files To Ignore
static/images/national-cancer-institute-W6yy0wYV-hk-unsplash.jpg
static/images/belly_button_biodiversity_dashboard_snapshot.png   
static/images/splash_edit.jpg

# Additional Files
BellyButton_gauge_starter_code.js
BellyButton_bubble_chart_starter_code.js
